<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.luna.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_inviter"
            android:label="Luna"
            android:roundIcon="@mipmap/ic_inviter"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".didi.DiDiActivity" />
        <activity android:name=".calculate.CalculateActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.InfoActivity" />
        <activity android:name=".hero.HeroActivity" />
        <activity android:name=".hero.MainWeaponActivity" />
        <activity android:name=".hero.DeputyWeapon" />
        <activity android:name=".LogActivity" />
        <activity android:name=".dailog.DialogActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".listView.ListViewActivity" />
        <activity android:name=".listView.exam.ExamActivity" />
        <activity android:name=".bitrh.BirthHoroscope" />
        <activity android:name=".orcreate.OrCreateActivity" />
        <activity android:name=".searchphone.SearchPhoneActivity" />
        <activity android:name=".database.DataBaseActivity" />
        <activity android:name=".register.RegisterActivity" />
    </application>

</manifest>