<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.luna.application">

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission
            android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
            android:name=".LunaApp"
            android:allowBackup="true"
            android:icon="@drawable/qq_di_zhu"
            android:label="Luna"
            android:roundIcon="@drawable/qq_di_zhu"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".didi.DiDiActivity" />
        <activity android:name=".calculate.CalculateActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.InfoActivity" />
        <activity android:name=".hero.HeroActivity" />
        <activity android:name=".hero.MainWeaponActivity" />
        <activity android:name=".hero.DeputyWeapon" />
        <activity android:name=".LogActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".views.ListViewActivity" />
        <activity android:name=".views.exam.ExamActivity" />
        <activity android:name=".birth.BirthHoroscope" />
        <activity android:name=".picture.OrCreateActivity" />
        <activity android:name=".smartphone.SearchPhoneActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity
                android:name=".register.RegisterActivity"
                android:label="注册" />
        <activity
                android:name=".warehouse.WarehouseActivity"
                android:label="仓库管理" />
        <activity
                android:name=".warehouse.OperationActivity"
                android:label="仓库管理" />
        <!-- Since JCore2.0.0 Required SDK核心功能-->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
                android:name=".service.LunaJCommonService"
                android:enabled="true"
                android:exported="false"
                android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
                android:name=".receiver.LunaJPushMessageReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.luna.application" />
            </intent-filter>
        </receiver>

        <activity
                android:name=".sensor.SensorActivity"
                android:label="传感器" />
        <activity
                android:name=".news.NewsClientActivity"
                android:label="新闻客户端" />

        <activity
                android:name=".news.WebViewActivity"
                android:label="新闻详情" />
    </application>
</manifest>