<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.luna.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@drawable/qq_di_zhu"
            android:label="Luna"
            android:roundIcon="@drawable/qq_di_zhu"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".didi.DiDiActivity" />
        <activity android:name=".calculate.CalculateActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.InfoActivity" />
        <activity android:name=".hero.HeroActivity" />
        <activity android:name=".hero.MainWeaponActivity" />
        <activity android:name=".hero.DeputyWeapon" />
        <activity android:name=".LogActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".views.ListViewActivity" />
        <activity android:name=".views.exam.ExamActivity" />
        <activity android:name=".birth.BirthHoroscope" />
        <activity android:name=".picture.OrCreateActivity" />
        <activity android:name=".smartphone.SearchPhoneActivity" />
        <activity android:name=".register.RegisterActivity" android:label="注册" />
        <activity android:name=".warehouse.WarehouseActivity" android:label="仓库管理" />
        <activity android:name=".warehouse.GoodsOperationActivity" android:label="仓库管理" />
    </application>

</manifest>